.form {
  display: flex;
  width: 400px;
  flex-direction: column;
}
.formLabel {
  display: flex;
  width: 300px;
  justify-content: space-between;
}
.input {
  margin-bottom: 20px;
  width: 100%;
  color: #fff;
  padding: 5px;
  background-color: rgb(73, 71, 71);
}
::placeholder {
  color: #fff;
}
.input:focus {
  border-color: cornflowerblue;
}
.button {
  width: 200px;
  border: none;
  margin-bottom: 50px;
  align-self: center;
  transition: 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  background-color: aqua;
  padding: 5px;
}
.button:hover {
  background-color: chartreuse;
}
